<div ng-controller="personaController">
    <h2>Personas</h2>
    <div class="row">
        <button class="btn btn-primary pull-right" ng-click="showAddDialog()">Añadir Persona</button>
    </div>

    <br />

    <div class="modal fade" id="modal-dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{title}}</h4>
                </div>

                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <form class="form-horizontal" name="form">
                                <div class="form-group">
                                    <label for="id" class="col-sm-2 control-label">Id</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id" readonly="readonly" ng-model="persona.Id" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" ng-required ng-model="persona.Nombre" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Correo</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="correo" ng-required ng-model="persona.Correo" />
                                    </div>
                                </div>
                            </form>
                            <div class="form-group has-error">
                                <div ng-repeat="error in errors" class="control-label">{{error}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" ng-click="savePersona()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <table id="dpmts" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="prsn in personas">
                <tr ng-click="selectPersona(prsn)">
                    <td> <span>{{prsn.Id}}</span></td>
                    <td> <span>{{prsn.Nombre}}</span></td>
                    <td> <span>{{prsn.Correo}}</span></td>
                    <td>  <button class="btn btn-danger" ng-click="deletePersona(prsn); $event.stopPropagation()">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>